* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    background-color: rgb(70, 68, 68);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.rainbowOn {
    padding: 10px 20px;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 1em;
    background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
    color: white;
    cursor: pointer;
}

.rainbowOff, .size, .erase, .clearBoard, .gridLineToggle {
    padding: 10px 20px;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 1em;
    background-color: white;
    background-image: none;
    color: black;
    cursor: pointer;
}

.sketchPad {
    display: flex;
    flex-wrap: wrap;
    max-height: 600px;
    max-width: 600px;
}

.default {
    background-color: white;
}

.hoverColor {
    opacity: 50%;
}

#colorPicker {
    padding: 0;
    cursor: pointer;
    width: 155px;
    height: 42px;
}

.erase {
    padding: 10px 53px;
    display: block;
}

.eraseOn, .gridOn {
    color: white;
    background-color: rgb(70, 68, 68);
}

.clearBoard {
    padding: 10px 58px;
    display: block;
}

.gridLineToggle {
    display: block;
    padding: 10px 15px;
    margin-bottom: 0.6rem;
}

.size {
    padding: 10px 21px;
}

legend {
    color: Orange;
    font-size: 1.5rem;
    font-weight: 700;
    margin: auto;
}

fieldset {
    box-shadow: 0.5em 0.5em 1em rgba(0, 0, 0, 0.7);
    margin: 1rem;
}

button, #colorPicker {
    margin: 0.3rem;
}

.transitionEffect {
    transition: transform 0.1s;
}

.transitionEffect:hover {
    transform: scale(1.1);
}